ipykernel>=6.29.5
python-dotenv>=1.0.1
torch>=2.6.0
transformers>=4.49.0
scipy>=1.15.2
matplotlib>=3.10.0
seaborn>=0.13.2
bs4>=0.0.2
sentence-transformers>=3.4.1
pytest-asyncio>=1.0.0
reportlab>=4.4.2
coverage>=7.9.2
pandas>=2.2.3
nnsight>=0.5.15
huggingface-hub>=0.36.0